{% extends 'base.html' %}
{% block body %}


<div class="container" style="padding-top:45px;padding-bottom:45px">
<div class="card" style="width: 48rem;">
  <img src="{{ post.image.url }}" class="rounded mx-auto d-block"  >
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
      <small>{{ post.date }}</small>
    <p class="ard-text">{{ post.content }}</p>
    {% if user.is_authenticated %}
    <a href="{% url 'delete' post.id %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'update' post.id %}" class="btn btn-primary">Update</a>
    {% endif %}
  </div>
</div>

{% endblock %}